/* content */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#amazingcarousel-11 .amazingcarousel-image {	
	position: relative;
	padding: 0px;
	width: 40%;
	float: left;
}

#amazingcarousel-11 .amazingcarousel-image img {
	display: block;
	width: 100%;
	max-width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

#amazingcarousel-11 .amazingcarousel-text {
	width: 60%;
	float: left;
}

#amazingcarousel-11 blockquote {
	font: italic 14px Georgia, serif;
	position: relative;
	color: #333333;
	text-align: left;
	margin: 8px 18px 8px 24px;
}

#amazingcarousel-11  blockquote:before {
	display: block;
	content: "\201C";
	font-size: 48px;
	position: absolute;
	left: -24px;
	top: -8px;
	color: #666666;
}

#amazingcarousel-11  cite {
	color: #999999;
	font: italic 14px Georgia, serif;
	display: block;
	position: relative;
	margin: 4px 18px;
	text-align: right;
}

#amazingcarousel-11 cite:before {
	content: "\2014 \2009";
}

/* carousel */

#amazingcarousel-container-11 {
	padding: 32px 60px; 
}

#amazingcarousel-11 .amazingcarousel-list-container { 
	padding: 16px 0;
}

/* item */

#amazingcarousel-11 .amazingcarousel-item-container {
	text-align: center;
	padding: 6px;
	background-color: #fff;
	border: 1px solid #ddd;
	-moz-box-shadow: 0px 0px 5px 1px rgba(96, 96, 96, 0.1);
	-webkit-box-shadow: 0px 0px 5px 1px rgba(96, 96, 96, 0.1);
	box-shadow: 0px 0px 5px 1px rgba(96, 96, 96, 0.1);
}

/* arrows */

#amazingcarousel-11 .amazingcarousel-prev {
	left: 0%;
	top: 50%;
	margin-left: 4px;
	margin-top: -16px;
}

#amazingcarousel-11 .amazingcarousel-next {
	right: 0%;
	top: 50%;
	margin-right: 4px;
	margin-top: -16px;
}

/* navigation bullets */

#amazingcarousel-11 .amazingcarousel-nav {
	position: absolute;
	width: 100%;
	top: 100%;
}

#amazingcarousel-11 .amazingcarousel-bullet-wrapper {
	margin: 4px auto;
}

