html {
  font-size: 16px;
}

body {
  background: #fefefe;;
  color: var(--nord1);
  font-family: Courier, monospace;
  font-size: calc(.75rem + 1.75vw);
  margin: 8vw;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.5px;
}