body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game {
    width: 100vw;
    height: 100vw;
    margin: 0 auto;
    background-color: blue;
    color: #fff;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr)
}

.game>div {
    border: 6px solid Black;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: green;
    color: white;
    margin-top: 10px;
    padding: 10px 20px
}

.game>div.winner {
    background: yellow;
}

.game>div.winner>span {
    color: blue;
}

.game>div {
    border-radius: 2px;
}


}